#wrapper{

    height: 2500px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 5% 20% 5% 20% 5% 20% 25%;
    grid-template-areas: 
    
    "header header . ."
    "section1 section1 . ."
    "h1 h1 . ."
    "section2 section2 . ."
    "h2 h2 . ."
    ;

}

header{

grid-area: header;
background-color: blue;

}

#section1{

    grid-area: section1;
    background-color: red;

}

#h1{

    grid-area: h1;
    background-color: green;

}



#section2{
    
    grid-area: section2;
    background-color: red;


}

#h2{

    grid-area: h2;
    background-color: green;

}
