#wrapper{

    height: 1080px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 30% 30% 25%;

    grid-template-areas: 
    "header header header header"
    "main main main main"
    "main main main main"
    "footer footer footer footer"
    
 
 
 ;

}


header{

    grid-area: header;
    background-color: grey;
    justify-items: center;
    display:flex;

}

#logo{

    width: 400px;
    margin-top: 20px;
    
}

#logotypeholder1{

    width: 35.5%;
    color: grey;
}
    #logoplaceholder2{
    min-width: 38.5%;

}

#logoplaceholder3{
    color: grey;
    width: 33.3%;
}

main{

grid-area: main; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 20px;
    overflow-y: auto;
}


#rimac-2023{

    margin-top: -60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    font-weight: 500;

}

#världsrekord1{

    height: 210px;
    width: 280px;
    margin-top: 70px;
    margin-left: 50px;
    border-radius: 15px;
    border-style:solid;
    border-color: black;
    background-color: lightgray;

}

#rimac-nevera{

    border-radius: 15px;
    margin-top: -45px;
    margin-left: -2px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;

}

#rimac-nevera-name{

 font-family: Arial, Helvetica, sans-serif;
 font-size: 115%;
 font-weight: 600;
 margin-left: 5px;
 margin-top: 0px;

}

#rimac-nevera-text{

 font-family: Arial, Helvetica, sans-serif;
 font-size: 80%;
 font-weight: 100;
 margin-left: 5px;
 margin-top: -15px;

}

#jesko-absolut-2024{

    margin-top: -60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    font-weight: 500;
}

#världsrekord2{

    height: 210px;
    width: 280px;
    margin-top: 70px;
    margin-left: 50px;
    border-radius: 15px;
    border-style:solid;
    border-color: black;
    background-color: lightgray;

}

#jesko-absolut{

    border-radius: 15px;
    margin-top: -45px;
    margin-left: -2px;
    border-style: solid;
    border-color: black;

}

#jesko-abslolut-name{

 font-family: Arial, Helvetica, sans-serif;
 font-size: 115%;
 font-weight: 600;
 margin-left: 5px;
 margin-top: 0px;

}

#jesko-abslolut-text{

 font-family: Arial, Helvetica, sans-serif;
 font-size: 80%;
 font-weight: 100;
 margin-left: 5px;
 margin-top: -15px;

}

#toyota-corolla-2025{

text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 300%;
font-weight: 500;
margin-top: -60px;

}

#världsrekord3{

    height: 210px;
    width: 280px;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 50px;
    border-style: solid;
    border-color: black;
    background-color: lightgray;

}

#toyota-corolla{

    border-radius: 15px;
    border-style: solid;
    border-color: black;
    margin-top: -45px;
    margin-left: -2px;

}

#toyota-corolla-name{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 115%;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 0px;

}

#toyota-corolla-text{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    font-weight: 100;
    margin-left: 5px;
    margin-top: -15px;

}

#amg-one-2024{

    margin-top: -60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    font-weight: 500;

}

#världsrekord4{

    height: 210px;
    width: 280px;
    margin-top: 70px;
    margin-left: 50px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background-color: lightgray;

}

#amg-one{

    border-radius: 15px;
    margin-top: -45px;
    margin-left: -2px;
    border-style: solid;
    border-color: black;

}

#amg-one-name{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 115%;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 0px;

}

#amg-one-text{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    font-weight: 100;
    margin-left: 5px;
    margin-top: -15px;

}

#peel-p50-1962{

    margin-top: -60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    font-weight: 500;

}

#världsrekord5{

    height: 210px;
    width: 280px;
    margin-top: 70px;
    margin-left: 50px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background-color: lightgray;

}

#peel-p50{

    border-radius: 15px;
    margin-top: -45px;
    margin-left: -2px;
    border-style: solid;
    border-color: black;

}

#peel-p50-name{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 115%;
    font-weight: 600;
    margin-left: 5px;
    margin-top: -1px;

}

#peel-p50-text{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    font-weight: 100;
    margin-left: 5px;
    margin-top: -17px;

}

#ferrari-250-gto-1963{

    margin-top: -60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    font-weight: 500;

}

#världsrekord6{

    height: 210px;
    width: 280px;
    margin-top: 70px;
    margin-left: 50px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background-color: lightgray;

}

#ferrari-250-gto{

    border-radius: 15px;
    margin-top: -45px;
    margin-left: -2px;
    border-style: solid;
    border-color: black;


}

#ferrari-250-gto-name{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 115%;
    font-weight: 600;
    margin-left: 5px;
    margin-top: -2px;

}

#ferrari-250-gto-text{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    font-weight: 100;
    margin-left: 5px;
    margin-top: -20px;

}



footer{

    grid-area: footer; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 40px 10%;
    overflow-y: auto;
    background-color: gray;

}

#om{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: 600;

}

#om-text{

    font-family: Arial, Helvetica, sans-serif;
    display: block;

}

#info{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: 600;

}

#kontakta{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: 600;

}